* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
  z-index: -1;
}

.player-card {
  position: relative;
  z-index: 1;
  background: rgb(4,4,57);
  background: linear-gradient(180deg, rgba(4,4,57,1) 31%, rgba(255,93,61,1) 100%);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  transition: transform 0.3s ease;
}

img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid white;
    padding: 10px;
}

.card-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0px;
    margin: 40px;
}

.card-bottom{
    position: absolute;
    bottom: 30px;
    color: rgb(9, 9, 95);
    font-family: 'Times New Roman', Times, serif;font-weight: bold;
}

.player-name{
    color: white;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.player-position{
    color: #ffffff94;
    font-size: x-large;
}

.player-stats p{
    font-size: 20px;
    padding: 5px;
}

.player-card:hover{
    transform: scale(1.1);
}